* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  padding-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px !important;
  font-weight: bold !important;
}

.header_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  margin: 30px 200px;
}

.header_text p {
  font-size: 25px;
  color: dimgrey;
  margin-bottom: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5px;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(165, 163, 159);
  font-size: 20px;
}

nav ul li a:hover {
  color: rgb(108, 107, 105);
}