* {
  padding: 0;
  margin: 0;
}

/********** ESTILOS HEADER **********/

h1 {
  text-align: center;
  padding-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px !important;
  font-weight: bold !important;
}

.header_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  margin: 30px 130px;
}

.header_text p {
  font-size: 25px;
  color: dimgrey;
  margin-bottom: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5px;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(165, 163, 159);
  font-size: 20px;
}

nav ul li a:hover {
  color: rgb(108, 107, 105);
}

/********** ESTILOS FORM **********/

form {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  background-color: lightgray;
  border: 3px solid black;
  border-radius: 30px;
}

form h4 {
  margin-bottom: 20px;
}

form input {
  margin-bottom: 15px;
}

form button {
  margin-top: 20px;
  padding: 5px 7px;
  border-radius: 10px;
}

form button:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.form_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}